#comment-post-message{border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px 0}
.comments .avatar-image-container{background:url(https://cdn.rawgit.com/club4android/VariousRamblings/d6728d4806db89345f2c6968185fad26d3bd2669/anonymous.jpg);
  margin:0 15px 0 0;height:40px;width:40px;border-radius:20px;border:1px solid #fff;
  background-size:100% 100%;display:inline-block}
.comments .avatar-image-container img{margin:0;padding:0;width:40px;height:40px;border-radius:20px}
.comments .comments-content .comment:last-child{border-bottom:0;padding-bottom:5px}
.content{margin:1px 0 -50px}
#HTML12{margin: 0 -10px}
.tabs-inner{padding:0 0 0 8px !important}
.footer-inner{padding:0}
.post-body li{padding:5px 0}
.widget ul{padding:0}
.post-body ul{padding-left:20px}
.label-size{border-left:1px solid #444;font-size:11px;margin:4px 0;padding:3px;display:inline-block;background:#222}
.label-size a:hover{text-decoration:none;color:#fff;border-top:1px solid #666}
.c4a-author{border-left:1px solid white;padding:8px}
#Attribution1{display:none;padding:0}
.showpagePoint{padding:7px 10px}
#blog-pager{text-align:center;padding:15px 0}
.showpageOf{display:none!important}
.home-link:hover,#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover{color:#fff;text-decoration:none!important;border-top:2px solid #ea0;padding-top:9px}
#cookieChoiceInfo{color:#000!important;background-color:rgba(238,238,238,0.8)!important;bottom:0;top:auto!important;padding:5px 0 2px}
#cookieChoiceInfo .cookie-choices-text{color:#000!important;margin:0 0 !important;bottom;font-size:10px;text-align:center}
#cookieChoiceInfo .cookie-choices-button{color:#333!important}
.widget .widget-item-control a img{height:18px;width:18px}
